table{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: collapse;
  font-weight: bold;
}
.table-container{
  max-height: 250px;/*scroll*/
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #FFFFFF;
}
#divparent{
  display: inline-block;/*adapt content*/
}
.table-style td, .table-style th {
  border-style: groove;
  padding: 16px;
}
.table-style{
  width: 100%;
  max-width: 400px;
  table-layout: fixed;
}
#contenedor{
  height: 300px;
  width: 300px;
  border-style: groove;
  border-width: 2px;
}









