<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <title>Main Component</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="font-weight: bold;">APPOfertas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Ofertas del Día</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Todas las ofertas
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<body>
  <div id="divparent" class="container-fluid">
      <div id="childone" class="row">
        <div class="col-md-6">
          <div id="divoferta" class="solid">
            <h3>Seleccione oferta:</h3>
            <select [(ngModel)]="selectedOffer$">
              <option *ngFor="let offer of offers$ | async" [ngValue]="offer">
                <h3>
                  {{offer.versions[0].name}}
                </h3>
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6" id="datapanel">
          <div id="divdata" class="solid">
            <!--Offer component container-->
            <app-offer [offer]="selectedOffer$"></app-offer>
          </div>
        </div>
      </div>
      <hr style="background-color: black;">
    <div id="childtwo" class="row">
      <div class="col-md-6">
        <div id="divcarac" class="solid">
          <!--Characteristics component container-->
          <app-characteristics [offer]="selectedOffer$"></app-characteristics>
        </div>
      </div>
      <div class="col-md-6">
        <div id="divprices" class="solid">
           <!--Prices component container-->
          <app-prices [offer]="selectedOffer$"></app-prices>
        </div>
      </div>
    </div>
    <!-- {{selectedOffer$ | json}} -->
  </div>
</body>
</html>
