.solid {
  /* border: solid; */
  text-align: center;
}
.col-sm-6 {
  margin: 0;
  padding: 0;
}
#divprices{
  width: 95%;
}
body{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#childtwo{
  margin-bottom: 30px;
}
#childone{
  margin-top: 30px;
  margin-bottom: 30px;
}
#datapanel{
  margin-top: 30px;
}
select {
  font-size: 93%;
  font-weight: bold;
  width: 100%;
  max-width: 400px;
}


