#content-main {
  display: flex;
  text-align: center;
  justify-content: center;
}
#content-table-name,
#content-table-prices {
  height: 250px;
  border-style: groove;
  border-width: 2px;
  background-color: #ffffff;
}
#content-table-name {
  width: 270px;
}
#content-table-prices{
  width: 140px;
}
table {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  border-collapse: collapse;
  font-weight: bold;
  height: 250px;
}
.table-style {
  border-collapse: collapse;
  width: 100%;
  max-width: 400px;
  table-layout: fixed;
}
.table-style td,
.table-style th {
  border-style: groove;
  padding: 8px;
}
